<div class = "container">
	<div class="wrapper">
<pre *ngFor="let value of user">{{ value }}</pre>
<form #f="ngForm" (ngSubmit)="onSubmit(event)" novalidate class="form-signin">
	<h3 class="form-signin-heading">Sign Up</h3>
			<hr class="colorgraph"><br>
	Email
	<input type="email" name="email" [(ngModel)]="email" required class="form-control"><br>

	Password
	<input type="password" name="password" [(ngModel)]="password" required class="form-control"><br>

	Password confirmation
	<input type="password" name="pwdconfirmation" [(ngModel)]="pwdconfirmation" required class="form-control"><br>

	First name
	<input type="text" name="first_name" [(ngModel)]="first_name" required class="form-control"><br>

	Last name
	<input type="text" name="last_name" [(ngModel)]="last_name" required class="form-control"><br>

	Address
	<input name="address" [(ngModel)]="address" class="form-control" required><br>

	Town
	<input type="text" name="town" [(ngModel)]=town class="form-control" required><br>

	Postcode
	<input name="number" [(ngModel)]=postcode class="form-control" required><br>

	Birthdate (YYYY-mm-dd)
	<input type="date" name="birthdate" [(ngModel)]=birthdate class="form-control" required>

	<button>Create My Account</button>
</form>
	</div>
</div>