<table>
	<tr>
		<th>ID</th>
		<th>Seller</th>
		<th>Title</th>
		<th>Description</th>
		<th>Price</th>
	</tr>
	<tr *ngFor='let p of product'>
	<td>{{ p._id }}</td>
	<td>{{ p.user }}</td>
	<td>{{ p.name }}</td>
	<td>{{ p.description }}</td>
	<td>{{ p.price }}</td>
	<td *ngIf="canModify"><a href="http://127.0.0.1:4200/modify/{{p._id}}">Modify</a></td>
	<td *ngIf=admin><a href="http://127.0.0.1:4200/modify/{{p._id}}">Modify</a></td>
</tr>
</table>
<a href="http://127.0.0.1:4200/products">All products</a>