<div class = "container">
	<div class="wrapper">
		<pre *ngFor="let value of error">{{ error }}</pre>
		<form #f="ngForm" (ngSubmit)="onSubmit(event)" novalidate class="form-signin">
			<h3 class="form-signin-heading">Welcome Back !</h3>
			<hr class="colorgraph"><br>
			<input type="email" name="username" [(ngModel)]="username" placeholder="email"required class="form-control"><br>
			<input type="password" name="password" [(ngModel)]="password" required class="form-control"><br>
			<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>
		</form>
	</div>
</div>