<table>
	<tr *ngFor='let u of user'>
	<td>{{ u.first_name }}</td>
	<td>{{ u.last_name }}</td>
	<td>{{ u.email }}</td>
	<td>{{ u.birthdate | slice:0:10 }}</td>
	<td>{{ u.address }}</td>
	<td>{{ u.postcode }}</td>
	<td>{{ u.town }}</td>
	<td>{{ u.id }}</td>
	<td *ngIf=admin><a href="http://127.0.0.1:4200/update/{{u.id}}">Modify</a></td>
</tr>
</table>
<a href="http://127.0.0.1:4200/users">All users</a>