<table>
	<tr *ngFor='let u of users' (click)="userProfile(u.id)">
	<td>{{ u.first_name }}</td>
	<td>{{ u.last_name }}</td>
	<td>{{ u.email }}</td>
	<a href="http://127.0.0.1:4200/profile/{{u.id}}">Show</a>
</tr>
</table>