<div class = "container">
	<div class="wrapper">
<!-- <pre *ngFor="let value of user">{{ value }}</pre> -->
<form #f="ngForm" (ngSubmit)="onSubmit(event)" novalidate class="form-signin" *ngFor='let p of product'>
	<h3 class="form-signin-heading">Modify {{ p.name }}</h3>
			<hr class="colorgraph"><br>
	Title
	<input type="text" name="name" required class="form-control" [(ngModel)]="name"><br>

	Description
	<textarea name="description" [(ngModel)]="description" required class="form-control"></textarea><br>
	
	Price
	<input name="price" [(ngModel)]="price" class="form-control" required><br>

	<button>Update Product</button>
</form>

<form #f="ngForm" (ngSubmit)="onDelete(event)" novalidate class="form-signin">
	<button>Delete this product</button>
</form>
	</div>
</div>