<div class = "container">
	<div class="wrapper">
<!-- <pre *ngFor="let value of user">{{ value }}</pre> -->
<form #f="ngForm" (ngSubmit)="onSubmit(event)" novalidate class="form-signin">
	<h3 class="form-signin-heading">New Bid</h3>
			<hr class="colorgraph"><br>
	Title
	<input type="text" name="name" required class="form-control" [(ngModel)]="name"><br>

	Description
	<textarea name="description" [(ngModel)]="description" required class="form-control"></textarea><br>
	
	<!-- Start Price
	<input name="start_price" [(ngModel)]="start_price" class="form-control" required><br> -->

	Price
	<input name="price" [(ngModel)]="price" class="form-control" required><br>

	<button>Create</button>
</form>
	</div>
</div>