<!-- <table>
	<tr *ngFor='let p of products' (click)="productDetails(p._id)">
	<td>{{ p._id }}</td>
	<td>{{ p.name }}</td>
	<td>{{ p.description }}</td>
	<td>{{ p.price }}</td>
	<td>{{ p.user_id }}</td>
	<a href="http://127.0.0.1:4200/product/{{p._id}}">Show</a>
</tr>
</table> -->
<body>
<div class="block" *ngFor='let p of products' (click)="productDetails(p._id)">
  
  <div class="top">
    <ul>
      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
      <li><span class="converse">{{ p.category }}</span></li>
      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</a></li>
    </ul>
  </div>
  
  <div class="middle">
    <div id="img"></div>
  </div>
  
  <div class="bottom">
    <div class="heading">{{ p.name }}</div>
    <div class="info">{{ p.description }}</div>
    <div class="price">${{ p.price }} <span class="old-price">$75.00</span></div>
  </div>
  
</div>
</body>