<!--The content below is only a placeholder and can be replaced.-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ng2-bootstrap/x.x.x/ng2-bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<nav class="navbar navbar-default" role="navigation">
    	  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <div class="navbar-brand navbar-brand-centered">Ebuy</div>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-brand-centered">
		      <ul class="nav navbar-nav">
		        <li *ngIf=admin><a href="http://127.0.0.1:4200/users">Users</a></li>
		        <li *ngIf=show><a href="http://127.0.0.1:4200/products">Shop</a></li>
		        <li *ngIf=show><a href="http://127.0.0.1:4200/new">Sell a product</a></li>
		        <li *ngIf=!show><a href="http://127.0.0.1:4200/login">Login</a></li>
		        <li *ngIf=!show><a href="http://127.0.0.1:4200/register">Register</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	<li *ngIf=show><a href="http://127.0.0.1:4200/profile">My account</a></li>
		      	<li (click)="loggout()" *ngIf=show><a href="http://127.0.0.1:4200/login">Logout</a></li>        
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
<router-outlet></router-outlet>
